@charset "UTF-8";
<!--
/*** Styles pour la zone de contenu ***/
div#content_id header {
	text-align: center;
	color: black;
}

div#content_id article {
	text-align: left;
	margin-left: 1em;
	color: black;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1.5em;
}

div#content_id footer {
	float: right;
	padding: 2em;
}

div#content_id a {
	text-decoration: none;
}

#main-box {
	width: 125em;
	height: 65em;
	border: 0.5em double red;
    position: relative;
    top: 2em;
    left:0.5em;
    margin-bottom: 5em;
	padding:2em;
}


-->
